<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>클라이언트 오류 페이지</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">권한이 없습니다!</h1>
    </div>
</div>
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h2>관리자에게 문의해주세요.</h2>
            <h2><a href="/main" class="btn btn-primary btn-pull" role="button">돌아가기</a></h2>
        </div>
    </div>
</div>

</body>
</html>